NEXT_PUBLIC_SANITY_PROJECT_ID=uh9olsz0
NEXT_PUBLIC_SANITY_DATASET=production
# SANITY_API_READ_TOKEN=
# NEXT_PUBLIC_SITE_URL=http://localhost:3000
# STRIPE_SECRET_KEY=sk_test_...
# STRIPE_WEBHOOK_SECRET=whsec_...
# STRIPE_WEBINAR_PAYMENT_LINK=https://buy.stripe.com/eVq8wQ4qT3XGgVE5Mp2go02
# NEXT_PUBLIC_WEBINAR_CHECKOUT_MODE=payment_link
# WEBINAR_REGISTRATION_ACCESS_KEY=
